.product-special{
    position: relative;
    background-image: url(../../img/bgproducttab3.png);
    background-size: 7rem;
    background-repeat: no-repeat;
    margin-top: 3rem;
    &--top{
        margin-top: 0rem !important;
        bottom: 4rem !important;
    }
    &--container{
        margin: 0 10rem;
        &_box{
            pad: 0 .5rem;
        }
        
    }
}