.about{
    &-story{
        margin: 2rem 15rem;
        &--pic{
            position: relative;
            border: 1px solid rgba($color-divider, .1);
            height: 85vh;
            &_details{
                position: relative;
                width: 100%;
                height: 100%;
                top: .5rem;
            }
        }
        &--content{
            &_tittle{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 2rem;
                border-bottom: 2px solid rgba($color-divider, .1);
                margin-bottom: 2rem;
                text-transform: uppercase;
                &::before{
                    content: '';
                    position: absolute;
                    border-bottom: 2px solid $color-primary;
                    height: 2px;
                    width: 23%;
                    top: 2.4rem;
                }
            }
            &_details{
                font-size: 1rem;
                color: $color-divider;
            }
        }
    }
}