.page-wrapper{
    background-image: url(../../img/bgproducttab3.png);
    background-size: 30rem;
    background-repeat: no-repeat;
    background-position-x: 68rem;
    background-position-y: 10rem;
}