.store{
    &-tittle{
        width: 100%;
        position: relative;
        margin: 0 1rem;
        &--container{
            position: relative;
            margin: 0 10rem;
            display: flex;
            flex-direction: row;
            justify-content: start;
            justify-items: start;
            border-bottom: 1px solid rgba($color-divider, .1);
            padding: 1.5rem 0;
            &_home{
                font-size: .8rem;
                text-decoration: none;
                color: rgba($color-textdark,.5);
                &:hover,
                &:active,
                &:link{
                    text-decoration: none;
                    color: $color-textdark;
                }
            }
            &_iconpresent{
                font-size: .8rem;
                margin: 0 1rem;
            }
            &_present{
                font-size: .8rem;
                color: $color-primary;
            }
        }
    }
    &-main{
        &--control{
            &_list{
                position: relative;
                width: 100%;
                height: 100%;
                padding-left:1rem ;
                display: flex;
                flex-direction: column;
                list-style-type: none;
            }
            &_item{
                margin: .5rem .25rem;
                &::before{
                    content: '';
                    width: 60%;
                    height: 2px;
                    display: block;
                    position: relative;
                    left: 0;
                    top: 2.35rem;
                    background-color:$color-primary;
                    transition: .25s ease-in-out .25s;
                }
                &__checkbox{
                    position: absolute;
                    width: 100%;
                    height: 5vh;
                    opacity: 0;
                    cursor: pointer;
                }
                &__checkbox:checked ~ &__options{
                    display: block;
                }
                &__checkbox:checked ~ .store-main--control_icon{
                    transform: rotate(90deg);
                }
                &__options{
                    position: relative;
                    display: none;
                    list-style-type: none;
                    &-item{
                        margin: .2rem 0;
                        padding: .5rem 0;
                        display: flex;
                        flex-direction: row;
                        border-bottom: 1px solid rgba($color-divider, .1);  
                        &::before{
                            content: '';
                            position: absolute;
                            width: 0%;
                            border-bottom:1px solid $color-primary;
                        }
                        &:nth-child(1)::before{
                            top: 2.5rem;
                            width: 45%;
                        }
                        &:nth-child(2)::before{
                            top: 5.3rem;
                            width: 40%;
                        }
                        &:nth-child(3)::before{
                            top: 8rem;
                            width: 40%;
                        }
                        &:nth-child(4)::before{
                            top: 10.8rem;
                            width: 45%;
                        }
                    }
                    &-link{
                        position: relative;
                        font-family: serif;
                        font-size: 1rem;
                        text-decoration: none;
                        color: rgba($color-textdark,.8);
                        margin: 0 .2rem;
                        border-bottom: 2px solid rgba($color-divider, .1);
                        &:hover,
                        &:active{
                            color: $color-primary;
                            text-decoration: none;
                            left: .2rem;
                        }
                    }
                    &-number{
                        color: $color-divider;
                        &:hover,
                        &:active,
                        &:link{
                            color: $color-primary;
                            text-decoration: none;
                        }
                    }
                }

            }
            &_link{
                font-family: serif;
                text-decoration: none;
                color: $color-textdark;
                font-size: 1.5rem;
                &:hover,
                &:active,
                &:link{
                    color: $color-primary;
                    text-decoration: none;
                }
            }
            &_icon{
                position: absolute;
                right: .5rem;
                top: 1rem;
                color: $color-textdark;
                &:hover,
                &:active,
                &:link{
                    color: $color-primary;
                    text-decoration: none;
                }
            }
        }
    }
}