.slick-prev, .slick-next {
    top: 38% !important;
}
button.slick-prev.slick-arrow {
    &::before{
        content: '⫷' !important;
        color: $color-divider !important;
        line-height: .5 !important;
    }
    
    background-color: transparent;
    width: 4%;
    height: 11%;
    border: 1px solid $color-divider;
    border-radius: 50%;
    z-index: 10;
}
button.slick-next.slick-arrow {
    &::before{
        content: '⫸' !important;
        color: $color-divider !important;
        line-height: .5 !important;
    }
    background-color: transparent;
    width: 4%;
    height: 11%;
    border: 1px solid $color-divider ;
    border-radius: 50%;
    z-index: 10;
}