.active-tab{
    display: block !important;
}
.active-tab--link{
    text-decoration: none !important;
    color: $color-textdark ;
    font-weight: bolder !important;
    font-size: 1.5rem !important; 
}
.active-tab--item{
    border-bottom: 2px solid $color-primary !important;
}
.is-zindex{
    z-index: 9;
}
.special{
    font-weight: bold;
    font-size: 1.1rem;
    color: $color-primary;
}
.w-100{
    width: 40%!important;
    position: absolute;
    right: 6rem;
    top: 3rem;
}
.active{
    color: $color-primary !important;
}
.active-W{
    width: 100% !important;
}